html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Avantgarde', sans-serif;
}

aside,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  background-color: #6A040F;
  width: 20%;
}

main {
  background-color: #D8BFD8;
  width: 60%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

div {
  font-size: 100px;
  text-align: center;
}

.who-is-up {
  font-size: 40px;
}

.p1Wins,
.p2Wins {
  color: #FFFFFF;
}

.game-reset {
  border: none;
  background-color: #FFE4E1;
  width: 40%;
  height: 5%;
}

.row{
  height: 33.33%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.square {
  border: 2px solid #D8BFD8;
  background-color: #7C2E41;
  height: 150px;
  width: 150px;
}
